/* ----------------------------------------------------------------------- */
/* BARRA DE NAVEGACION */
.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 32px
}

.navbar-nav {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: row;
    
}

.navbar-nav li {
    margin-left: 20px;
}

.navbar-nav a {
    color: #545454;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.navbar-nav a:hover {
    color: #4ca5aa;
    text-decoration: underline;
}

.btn-login {
    color: #ffffff!important;
    text-decoration: none!important;
    font-family: "Montserrat", serif !important;
    font-size: 12px !important;
    padding: 5px 10px;
    cursor: pointer;
}



/* FIN BARRA DE NAVEGACION */
/* ----------------------------------------------------------------------- */


/* ----------------------------------------------------------------------- */
/* MASTHEAD */
.masthead h1,
.masthead h2,
.masthead h3 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #545454;
}

.masthead h1 {
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 35px;
}

.masthead h2 {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: auto;
}

.masthead h3 {
    font-weight: 900;
    font-size: 30px;
    margin-top: auto;
}

.botonEmpiezaAhora {
    margin-top: 20px;
}
/* FIN MASTHEAD */
/* ----------------------------------------------------------------------- */



/* ----------------------------------------------------------------------- */
/* FEATURES */
.features-icons {
    height: 240px;
}

.Features-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 30px; /* Ajusta si necesitas más espacio */

}

.features-icons-item {
    text-align: center;
    flex: 1;
    max-width: 300px;
}

.features-icons h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 10px;
}

.feature-image {
    width: 100px;
    height: auto;
    margin-top: 10px;
}
/* FIN FEATURES */
/* ----------------------------------------------------------------------- */



/* ----------------------------------------------------------------------- */
/* NUESTRO PRODUCTO */
.our-product {
    padding: 50px;
    background-color: #fff;
    padding-top: 90px; /* Igual a la altura de la barra */
    margin-top: 0; /* Elimina el margen superior */
    margin-bottom: 70px;

}


.product-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-image {
    width: 100%;
    height: 100%;
    max-width: 400px;
    justify-self: center;

}

.product-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-feature {
    display: flex;
    gap: 25px;
    align-items: center;
}

.product-feature h2,
.product-feature h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #4ca5aa;
    margin: 0;
}

.product-feature h2 {
    font-size: 40px;
}

.product-feature h3 {
    font-size: 65px;
}

.product-feature p {
    font-family: "Poppins", sans-serif;
    color: #cccccc;
    font-size: 16px;
    line-height: 1.5;
    max-width: 500px;
}

.button-container {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 20px;
}
/* FIN NUESTRO PRODUCTO */
/* ----------------------------------------------------------------------- */


/* ----------------------------------------------------------------------- */
/* PLANES */

/* Fondo y alineación de la sección */
#planes {
    padding: 50px;
    color: #000;
    text-align: center;
    padding-top: 90px; /* Igual a la altura de la barra */
    margin-top: -90px; /* Contrarresta el desplazamiento */
    
}


/* Descripción general */
#planes p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    margin: 40px;
}


/* Contenedor de los planes con línea divisoria en el centro */
.container-planes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

/* Contenedor que rodea cada plan para tener control de la separación */
.plan-container {
    max-width: 500px;
    padding: 0 20px;
    height: 280px;
}

/* Línea de separación entre los planes */
.separador {
    width: 1px;
    background-color: #000;
    height: auto;
    margin-left: 70px;
    margin-right: 70px;

}

/* Estilo de los títulos de los planes */
.plan h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: left;

}

.plan h3 span {
    color: #4ca5aa; /* Color azul para el texto de los planes gratuitos o premium */
}

/* Lista de características de los planes con puntos */
.plan ul {
    list-style: disc inside; /* Puntos delante de cada elemento de la lista */
    padding: 0;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
}


.plan ul li s {
    color: #cccccc; /* Color gris para las características tachadas */
}

/* Botones de los planes - utiliza el estilo general */
.plan .btn {
    background-color: #4ca5aa; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none;
    padding: 12px 24px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    transition: background-color 0.3s;
}

.plan .btn:hover {
    background-color: #545454; /* Color al pasar el cursor sobre el botón */
}


/* FIN PLANES */
/* ----------------------------------------------------------------------- */

/* ----------------------------------------------------------------------- */
/* CONTACTO */

/* Estilos para el texto centrado debajo del título */
#textoArriba {
    text-align: center;
    font-size: 1.2em;
    color: #666;
    margin-bottom: 30px; /* Ajusta el margen inferior según tu preferencia */
}

.contact-section {
    background-color: #ffffff;
    padding: 50px;
    padding-top: 90px; /* Igual a la altura de la barra */
    margin-top: -90px; /* Contrarresta el desplazamiento */
    padding-bottom: 100px;
}

#contacto .row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
}

#contendorContacto {
    width: 100%;
    max-width: 1200px; /* Limita el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    justify-content: space-between;
    
}

.contact-section h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: left;
}

.contact-info {
    width: 48%; /* Asegura que ocupe la mitad del espacio disponible */
    display: flex;
    flex-direction: column;
}

.contact-info p {
    color: #000000;
}

.contact-info h3 {
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0px;
}

.contact-info a {
    color: #4ca5aa; /* Color para los enlaces de contacto */
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-form {
    width: 100%; /* Asegura que el formulario ocupe la mitad del espacio disponible */
}

.contact-form .form-control,
.contact-form button {
    width: 100%;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form .form-control {
    background-color: #f9f9f9;
    border: 1px solid #ddd; /* Añade un borde ligero para mejorar la visibilidad */
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
}

.contact-form .form-control::placeholder {
    color: #999;
}

.contact-form .btn-submit {
    background-color: #4ca5aa;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.1em;
}


/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    #contendorContacto {
        flex-direction: column;
        align-items: center;
    }

    .contact-info,
    .contact-form {
        width: 100%;
    }
}
/* FIN CONTACTO */
/* ----------------------------------------------------------------------- */


/* ----------------------------------------------------------------------- */
/* Informacion Section */

.quality-air-section {
    padding: 50px 20px;
    text-align: center;
    padding-top: 130px; /* Igual a la altura de la barra */
    margin-top: 0; /* Elimina el margen superior */
    padding-bottom: 100px; /* Igual a la altura de la barra */
}

.section-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.section-subtitle {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #444;
}

.contaminants-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.contaminant {
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contaminant h3 {
    font-size: 1.2rem;
    color: #4ca5aa;
    margin-bottom: 10px;
}

.contaminant p {
    font-size: 0.95rem;
    color: #555;
    margin: 5px 0;
}

.more-info {
    display: none; /* Oculta la información adicional por defecto */
}

.more-info.visible {
    display: block; /* Muestra la información cuando tiene la clase "visible" */
}

.more-info p {
    font-size: 0.9rem;
    color: #555;
}

.info-image {
    width: 100%; /* Ajusta el tamaño de la imagen */
    margin-top: 10px;
    border-radius: 8px; /* Bordes redondeados */
}

/* Cambios visuales para "Más Info" */
.masInfo {
    color: #4ca5aa;
    font-size: 16px;
    cursor: pointer;
    text-align: right;
    margin-top: 20px;
}

.masInfo:hover {
    text-decoration: underline;
}

/* FIN Informacion Section */
/* ----------------------------------------------------------------------- */

/* ----------------------------------------------------------------------- */
/* Footer Section */
.footer {
    background-color: #4ca5aa; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    text-align: center; /* Centrar contenido */
    padding: 10px 0; /* Espaciado superior e inferior */
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

/* Contenedor para centrar contenido */
.footer .container {
    max-width: 1200px; /* Ancho máximo del footer */
    margin: 0 auto; /* Centrar contenido horizontalmente */
    padding: 0 15px; /* Espaciado interno */
}

/* FIN Footer Section */
/* ----------------------------------------------------------------------- */
