/* login.css */

body {
    background-color: #f7f9fc;
}

.container {
    max-width: 600px; /* Personalizado para la página de login */
}

h1 {
    color: #007bff;
    margin-bottom: 30px;
}

form {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group label {
    font-weight: bold;
}

.btn-primary {
    width: 100%; /* Personalizado para que el botón ocupe el ancho completo */
    margin-top: 20px;
}

.alert {
    margin-top: 15px;
}

.modal-footer a {
    width: 100%;
}
