body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    margin-top: 20px;
}

.table th, .table td {
    text-align: center;
}

.alert {
    text-align: center;
    margin-top: 20px;
}

.btn-info {
    margin-right: 10px;
}

#graficaMediciones {
    width: 100%; /* Asegura que el canvas ocupe todo el ancho disponible */
    height: 400px; /* Ajusta la altura según el diseño de tu página */
    max-width: 800px; /* Limita el ancho máximo para que no sea demasiado grande */
    margin: 0 auto; /* Centra el canvas en su contenedor si es necesario */
}
